// http://haml.info
// simple form that posts to "/submit"
%h3 New Skeleton
- if @errors
	%div{:class => "validation-errors"}
		- @errors.each do |attr, msg|
			%p
				= attr
				= msg

%form(action="/submit" method="POST")
	%input(type="text" name="skeleton[name]" value="Enter Skeleton Name" id="skeleton_name")
	%input(input type="submit" value="Submit")
