// http://haml.info
// simple form that posts to "/submit"
%h3 New Skeleton
%form(action="/submit" method="POST")
	%input(type="text" name="skeleton[name]" value="Enter Skeleton Name" id="skeleton_name")
	%input(input type="submit" value="Submit")
