<section class="container">
  <h1>The Cave</h1>
  <p>You entered the next best cave with a torch, nevertheless it's pitch-dark around you. You stumble over something, with the little light you have you try to find out what it was. Hard to believe, but you stumbled over a skeleton wearing a hat. Something is written on the hat's brim:</p>
  <em>My name is <%= @name %>!</em>
</section>
