// http://haml.info
%h1 PostgresQL based
%p
  easy peasy database handling, because this skeleton comes with
  %strong Rake
  and
  %strong ActiveRecord

%hr

%h2 Use Sample Data to test it out
%p
  Start your local PostgresQL and run:
  %br
  %strong rake db:create
  %br
  %strong rake db:setup

%hr

%h2 Configure your own database
%p
  Delete existing migrations in
  %em db/migrate/
%p
  Delete or modify
  %em db/seeds.rb
%p
  set your models properly
  %em models/*.rb

%ul
  %li
    edit
    %strong config/database.yml
  %li
    create database
    %strong rake db:create
  %li
    create a migration
    %strong rake db:create_migration NAME=create_model
    (you can set the NAME attribute to whatever fits your needs)
  %li
    edit the created migration file in
    %strong db/migrate
    %a(href="http://guides.rubyonrails.org/active_record_migrations.html" target="_blank") (read more on migrations)
  %li
    Run
    %strong rake db:migrate
