<!--/ http://haml.info
-->
<h1>Sinatra's Skeleton App</h1>
<p>
  This is a modular, multifile Sinatra app with CoffeeScript, SASS and Haml pre-installed
</p>
<p>
  Styled with
  <a href="http://purecss.io" target="_blank">PureCSS, read about the</a>
  <a href="https://purecss.io/layouts/tucked-menu/#" target="_blank">responsive menu used.</a>
</p>
<hr/>
<h4>This app is a sample sinatra app to get you started.</h4>
<p>
  Ships with a CRUD example, basic User Authentication System (with Warden) and plenty of commented code that lets you dive right in Sinatra.rb
  <em>In this example, controllers act as Service Objects, but you can easily change them to work like you are used in Rails.</em>
</p>
<hr/>
<h2>Use this project</h2>
<h3>What you need to get started</h3>
<ul>
  <li>
    Ruby > 2.3.x
  </li>
  <li>
    Bundler
    <em>(gem install bundler)</em>
  </li>
</ul>
<h3>How to start</h3>
<ol>
  <li>
    clone the project from github
  </li>
  <li>
    navigate to the directory and run:
    <strong>$ bundle install</strong>
  </li>
  <li>
    edit
    <strong>config/database.yml</strong>
  </li>
  <li>
    then start your local PostgresQL and populate it:
    <strong>$ rake db:setup</strong>
  </li>
  <li>
    start your local dev environment:
    <strong>$ thin start</strong>
  </li>
  <li>
    edit titles and descriptions in
    <strong>views/layout.erb</strong>
    and
    <strong>views/nav.erb</strong>
  </li>
</ol>
<h4>Ready to deploy... this project runs on heroku as is ;-)</h4>
<hr/>
<p>
  Before you dig in, look at this picture of a pug. Relax, you are safe...
</p>
<img/>
