.custom-menu-wrapper
  .pure-menu.custom-menu.custom-menu-top
    %a(href='/' class="pure-menu-heading custom-menu-brand") SkeletonApp
    %a(href='#' class="custom-menu-toggle" id= "toggle")
      %s.bar
      %s.bar
      %s.bar
  #tuckedMenu.pure-menu.pure-menu-horizontal.pure-menu-scrollable.custom-menu.custom-menu-bottom.custom-menu-tucked
    .custom-menu-screen
    %ul.pure-menu-list
      %li.pure-menu-item
        %a.pure-menu-link(href="/") Start Adventure
      %li.pure-menu-item
        %a.pure-menu-link(href="/database") Questlog
      %li.pure-menu-item
        %a.pure-menu-link(href="/cave/Sinatra") Enter Cave
      %li.pure-menu-item
        %a.pure-menu-link(href="/time") Go further
      - unless env['warden'].user
        %li.pure-menu-item
          %a.pure-menu-link(href="/new_skeleton_form") Go even further
      // this nav is only shown for logged in users
      - if env['warden'].user
        %li.pure-menu-item
          %a.pure-menu-link(href="/new_skeleton_form") New Skeleton
        %li.pure-menu-item
          %a.pure-menu-link(href="/skeletons") Skeletons
        %li.pure-menu-item
          %a.pure-menu-link(href="/users/#{env['warden'].user.id}") Inventory
        %li.pure-menu-item
          %a.pure-menu-link(href="/auth/logout") Retreat!
