// http://haml.info
%section.container
    %h1 Losing your mind already?
    %p In the dark you lost your sense of time and you do not have a clue of how long you have been staring at Sinatra's hat. What was he doing down here? Was 2Pac shot? Is Elvis a zombie? Or is Elvis a skeleton, too?
    %p That's when you notice "Sinatra" is wearing a wristwatch. The clock shows:
    %em= @time
