// http://haml.info
//
// simple form that posts to "/admin/:admin_id"
%h3 Edit User
%form(action="/user/#{@user.id}" method="POST")
    .form
        Username:
        %input(type="text" name="user[username]" value="#{@user.username}" id="user_name")
        %br
        %br
    .form
        New Password:
        %input(type="password" name="user[password]" id="user_password")
        %br
        %br
    .form
        Repeat new Password:
        %input(type="password" name="user[rpassword]" id="ruser_password")
        %br
        %br
    %input(input type="submit" value="Submit")
